form {
  background-color: aliceblue;
}


ul{
  background-color: lightblue;

}

a{
  text-decoration: none ;
  color : black;
}

a:visited {
  color: black;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
  background-color: navy;
}

strong {
  font-variant: small-caps;
  background-color: bisque;
  }
