<html>
<!--<form>-->

  <!--User :-->
  <!--<select [(ngModel)]="selectedUser" name="level">-->
    <!--<option *ngFor = "let user of users"> {{user.name}}</option>-->
  <!--</select>-->

 <!--<strong>Welcome {{selectedUser}} !! </strong>-->
<!--</form>-->
<!--<br/>-->
<!--&#45;&#45;&#45;&#45;&#45;&#45;-->

<div id="users">
  <h3> Users</h3>
  <ul>
    <li *ngFor="let user of users">
      <a href="#{{user.id}}" (click)="detailsU(user)">{{user.name}}</a>

  </ul>
  <input type="text" name="userName" placeholder="add a new user"  [(ngModel)]="createdUser.name">
  <button (click)="createUser()" [disabled]="createdUser.name?.length<2" > Add!</button>

</div>




<div id="topics" *ngIf="selectedUser">
<h3> User's topics : {{selectedUser.name}} </h3>
<ul>
  <li *ngFor="let topic of selectedUser.topics">
  <a href="#{{topic.id}}" (click)="detailsT(topic)">{{topic.name}}</a>
</ul>

</div>

<div id="comments" *ngIf="selectedTopic">
  <h3> {{selectedTopic.name}}'s comments </h3>
  <ol>
      <li *ngFor="let comment of selectedTopic.comments"> {{comment.content}}
  </ol>
<br/>
</div>
</html>

